.Mexican {
background-color: #94B4FF;
font-size: 20px;
height: 350px;
width: 350px;
position: absolute;
left: 10px;
top: 10px;
}

.Fast {
background-color: #FAFF94;
font-size: 20px;
height: 350px;
width: 350px;
position: absolute;
left: 520px;
top: 10px;
}

.Pizza {
background-color: #FF9494;
font-size: 20px;
height: 350px;
width: 350px;
position: absolute;
left: 1030px;
top: 10px;
}

.Asian {
background-color: #FFC694;
font-size: 20px;
height: 350px;
width: 350px;
position: absolute;
left: 10px;
top: 520px;
}

.Italian {
background-color: #C594FF;
font-size: 20px;
height: 350px;
width: 350px;
position: absolute;
left: 520px;
top: 520px;
}

.Overall {
background-color: #94FFA3;
font-size: 20px;
height: 350px;
width: 350px;
position: absolute;
left: 1030px;
top: 520px;
}
